.footer {
  background-color: $color-dark;
  color: lighten($color-gray, 12%);
  padding-top: $gap * 3;

  ul {
    list-style: none;
    padding: 0;
  }

  a {
    color: darken($color-gray, 40%);
    &:hover {
      color: lighten($color-gray, 14%);
    }
  }
}

.footer-fifth {
  margin: 20px 0;
  text-align: center;
  a {
    color: lighten($color-gray, 12%);
  }
}
